.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 400;
  width: 200px;
  background-color: #483D8B;
  color: #FFF;
  font-style: italic;
}
