/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-utilities.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.msg-success {
  background-color: #28a745;
  color: #FFF;
}

.msg-error {
  background-color: #e35e6b;
  color: #FFF;
}

.matCardTitle {
  font-size: 2.5rem;
  font-weight: 350;
  padding: 10px 0 25px 0;
  display: flex;

  span {
    font-size: 2.5rem;
  }
}
